<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-06-14T14:16:12" updateDate="2013-06-14T14:16:15" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Warren Buckley" writerName="Warren Buckley" writerID="0" template="1046" nodeTypeAlias="Home" />
</root>